<link href="https://fonts.googleapis.com/css?family=Acme|Lustria" rel="stylesheet">
<style>
    h2{
        font-family: 'Acme', sans-serif;
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: black;
    }

    h3{
        font-family: 'Acme', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: black;
    }
    .name{
    text-align: center;
    margin-top: 0px;
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

  


.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress {
    
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

/*

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 24%;

*/
.progress .progress-value{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 12%;
}

.hideMe{
    display: none;
}

@media(max-width:767px){
    .showMe{
        display: none;
    }
    .hideMe{
        display: block;
    }
}

a{
    color: red;
}
a:visited{
    color: red;
}

iframe{
    display: block;
    margin: 20px auto;
    height: 350px;
    width: 95%;
    
}

@media(min-width:991px){
    iframe{
        width: 60% !important;
    }
}

.content{
       text-align: justify;
       display: inline-block;
       font-family: 'Lustria', serif;
       font-weight: 500;
       font-size: 17px;
    }

</style>

<!--<div class="container" style="text-align:center">
<div class="content">
    <p>We want to make our neighborhoods stronger and safer, and help local economies grow with
the help of our logistics platform.</p>
<p>

</p>
</div>
</div>    -->

<div>
      <h2>Why join Us?</h2>
  </div>
<div class="container showMe">
  <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx1.png"></div>
                
            </div>
            <h5 class="name">Competitive salary & equity</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx2.png"></div>
                
            </div>
            <h5 class="name">Health insurance for you</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx3.png"></div>
                
            </div>
            <h5 class="name">Flexible work from home policy</h5>
            
        </div>
  </div>
   <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx4.png"></div>
                
            </div>
            <h5 class="name">Free lunch, dinner, and snacks</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx5.png"></div>
                
            </div>
            <h5 class="name">No dress code: wear shorts, sandals, whatever</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx6.png"></div>
                
            </div>
            <h5 class="name">Immense learning and growth opportunities</h5>
            
        </div>
  </div>
  <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx7.png"></div>
                
            </div>
            <h5 class="name">Work on any project of your liking</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx8.png"></div>
                
            </div>
            <h5 class="name">Flexible office timings</h5>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx9.png"></div>
                
            </div>
            <h5 class="name">Regular parties, beer, and lots of fun</h5>
            
        </div>
  </div>


  </div>
  <div class="container hideMe">
  <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx1.png"></div>
                
            </div>
            <h5 class="name">Competitive salary & equity</h5>
            
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx2.png"></div>
                
            </div>
            <h5 class="name">Health insurance for you</h5>
            
        </div>
        
  </div>
   <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx3.png"></div>
                
            </div>
            <h5 class="name">Flexible work from home policy</h5>
            
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx4.png"></div>
                
            </div>
            <h5 class="name">Free lunch, dinner, and snacks</h5>
            
        </div>
       
  </div>

  <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx5.png"></div>
                
            </div>
            <h5 class="name">No dress code: wear shorts, sandals, whatever</h5>
            
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx6.png"></div>
                
            </div>
            <h5 class="name">Immense learning and growth opportunities</h5>
            
        </div>
  </div>

  <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx7.png"></div>
                
            </div>
            <h5 class="name">Work on any project of your liking</h5>
            
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx8.png"></div>
                
            </div>
            <h5 class="name">Flexible office timings</h5>
            
        </div>
        
  </div>

  <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="progress blue">
                <div class="progress-value" style="overflow:hidden"><img style="width:100%" src="./images/halanx9.png"></div>
                
            </div>
            <h5 class="name">Regular parties, beer, and lots of fun</h5>
            
        </div>
  </div>
  </div>
  <br>
  <section class="ppt container">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSIu2KCvzsQleK-jhuQ2XJIpHxqepM5TkwXX_0B5Lr0tuJcrudVq5V52KgpGzutM4-VkVECmde6DxmA/embed?start=false&loop=false&delayms=3000" frameborder="0" align="middle" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </section>

  <section class="opening container">
      <h3>Current Openings</h3>
      <div class="jobs panel panel-default" ng-repeat="job in posting">
          <div class="panel-heading">
          <h4 style="text-align:center">{{job.name}}</h4> 
          </div>
          <div style="display:flex;flex:3">
          <div  style="flex:1;text-align:center" class="position panel-body" ng-repeat="position in job.positions">
            <div >
            <h5 ><a href="{{position.link}}" target="_blank">{{position.position}}</a></h5>
            <hr>
            {{position.location}} <br>
            {{position.job_type}}
            </div>
          </div>
          </div>
      </div>
  </section>
