<link href="../styles/hxpa.css" rel="stylesheet">
<div class="container hxpa">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="hxpa-form hxpa-login hxpa-about-form">
                <div class="hxpa-form-head">
                    <h3>Halanx Partner Login</h3>
                </div>
                <div class="hxpa-block">
                    <div class="hxpa-input-wrap">
                        <div class="hxpa-input">
                            <label>Email</label>
                            <input type="email" ng-model="email">
                        </div>
                        <div class="hxpa-input">
                            <label>Password</label>
                            <input type="password" ng-model="password">
                        </div>
                    </div>
                </div>
                <div class="hxpa-continue">
                    <button ng-click="hxpaloginfunc()">Login</button>
                </div>
                <div class="hxpa-noacc">
                    <a href="#/hxpa">Don't have an account. Sign Up here</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>