<link rel="stylesheet" href="../styles/indexmain.css">

<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Get groceries and meals delivered at your doorstep in as little as an hour!</h2>
           
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
           <h2 class="slide__text-heading">Get groceries and meals delivered at your doorstep in as little as an hour!</h2>
           
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
           <h2 class="slide__text-heading">Get groceries and meals delivered at your doorstep in as little as an hour!</h2>
           
           
        </div>
      </div>
    </div>
     
  </div>
</div>
     
    <!-- Search Location Starts Here -->
    <div class="row row_3 searchbar">
        <div class="col-md-8 col-md-offset-1">
            <div id="custom-search-input">
                <div class="input-group col-md-offset-3">
                    <span id="pac-container">
                        <input type="text" id="txtPlaces" ng-model="location" class="form-control input-md" placeholder="Enter your location" />
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-danger btn-md" type="button" id="search" ng-click="checkLocation()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Location Ends -->
    
    <!-- Detect Current Location -->
    <p>
        <center id="cur-loc">
            <span onclick="getLocation()">Detect current location</span>
            <span class="glyphicon glyphicon-screenshot" onclick="getLocation()" data-toggle="modal" data-target="#myModal"></span>
        </center>
    </p>
    <!-- Detect Current Location Ends -->

    <!-- Google Maps Modal For Detect Current Location -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="color:white">Your Location
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div id="mapholder"></div>
                    </div>
                    <button type="button" class="btn btn-md btn-danger class1" id="class1" onclick="savedata()">Confirm Location</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Maps Modal Ends -->
    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="../images/mapicon.png">
                <div class="card-content">
                    <h3>AREAS WE SERVE</h3>
                    <h4>Delhi</h4>
                    <h4>Noida</h4>
                    <h4>Gurgaon</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="../images/moneyicon.png">
                <div class="card-content">
                    <h3>MAKE MONEY WITH US</h3>
                    <a href="#/shopper" ><h4 class="hover_red">Become a Shopper</h4></a>
                    <a href="#/store"><h4 class="hover_red">Get Your Store Listed</h4></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="../images/download%20app.gif" id="app-dwn">
                <div class="card-content">
                    <h3>DOWNLOAD APP</h3>
                    <a href="https://play.google.com/store/apps/details?id=com.halanx.userapp"><h4 class="hover_red">Android App on PlayStore</h4></a>
                    <h4>
                        <a href="https://play.google.com/store/apps/details?id=com.halanx.userapp">
                            <center>
                                <img src="https://s3-us-west-2.amazonaws.com/halanx-web/en_badge_web_generic.png" class="img-responsive img1" height="90" width="100">
                            </center>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div style="display: inline-block;z-index: 5; position:fixed; bottom:20px;right:20px">
      <a  href="https://m.me/halanxtech?ref=Welcome%20message" style="display: inline-block;background: orange;padding: 9px;border-radius:5px;">
          <i class="fa fa-comments" aria-hidden="true" style="font-size: 30px;color: white;"></i>
      </a>
  </div>


<div class="fb-messengermessageus" messenger_app_id="305219616568944" page_id="XYZ" color="blue" >
  </div>
         
  <script>
  $(document).ready(function() {
  
  var $slider = $(".slider"),
      $slideBGs = $(".slide__bg"),
      diff = 0,
      curSlide = 0,
      numOfSlides = $(".slide").length-1,
      animating = false,
      animTime = 500,
      autoSlideTimeout,
      autoSlideDelay = 6000,
      $pagination = $(".slider-pagi");
  
  function createBullets() {
    for (var i = 0; i < numOfSlides+1; i++) {
      var $li = $("<li class='slider-pagi__elem'></li>");
      $li.addClass("slider-pagi__elem-"+i).data("page", i);
      if (!i) $li.addClass("active");
      $pagination.append($li);
    }
  };
  
  createBullets();
  
  function manageControls() {
    $(".slider-control").removeClass("inactive");
    if (!curSlide) $(".slider-control.left").addClass("inactive");
    if (curSlide === numOfSlides) $(".slider-control.right").addClass("inactive");
  };
  
  function autoSlide() {
    autoSlideTimeout = setTimeout(function() {
      curSlide++;
      if (curSlide > numOfSlides) curSlide = 0;
      changeSlides();
    }, autoSlideDelay);
  };
  
  autoSlide();
  
  function changeSlides(instant) {
    if (!instant) {
      animating = true;
      manageControls();
      $slider.addClass("animating");
      $slider.css("top");
      $(".slide").removeClass("active");
      $(".slide-"+curSlide).addClass("active");
      setTimeout(function() {
        $slider.removeClass("animating");
        animating = false;
      }, animTime);
    }
    window.clearTimeout(autoSlideTimeout);
    $(".slider-pagi__elem").removeClass("active");
    $(".slider-pagi__elem-"+curSlide).addClass("active");
    $slider.css("transform", "translate3d("+ -curSlide*100 +"%,0,0)");
    $slideBGs.css("transform", "translate3d("+ curSlide*50 +"%,0,0)");
    diff = 0;
    autoSlide();
  }

  function navigateLeft() {
    if (animating) return;
    if (curSlide > 0) curSlide--;
    changeSlides();
  }

  function navigateRight() {
    if (animating) return;
    if (curSlide < numOfSlides) curSlide++;
    changeSlides();
  }

  $(document).on("mousedown touchstart", ".slider", function(e) {
    if (animating) return;
    window.clearTimeout(autoSlideTimeout);
    var startX = e.pageX || e.originalEvent.touches[0].pageX,
        winW = $(window).width();
    diff = 0;
    
    $(document).on("mousemove touchmove", function(e) {
      var x = e.pageX || e.originalEvent.touches[0].pageX;
      diff = (startX - x) / winW * 70;
      if ((!curSlide && diff < 0) || (curSlide === numOfSlides && diff > 0)) diff /= 2;
//      $slider.css("transform", "translate3d("+ (-curSlide*100 - diff) +"%,0,0)");
//      $slideBGs.css("transform", "translate3d("+ (curSlide*50 + diff/2) +"%,0,0)");
    });
  });
  

  
  $(document).on("click", ".slider-control", function() {
    if ($(this).hasClass("left")) {
      navigateLeft();
    } else {
      navigateRight();
    }
  });
  
  $(document).on("click", ".slider-pagi__elem", function() {
    curSlide = $(this).data("page");
    changeSlides();
  });
  
});    
  window.fbAsyncInit = function () {
    FB.init({
      appId: '305219616568944',
      xfbml: true,
      version: 'v2.6'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>