<style>
 
.icon-bar{
 background:#d6d6d6;
}
.legend{
    margin-top: 2px;
}

#track-wrapper{
        min-height: 400px;
}

.bg1{
	padding-top:10px;
	background:#e9e9e9;
	padding-bottom:150px;
}
.col-md-2 a:hover{
  text-decoration:none;
  color:#ff0000;
}
.col-md-2 a{
  color:#000000;
  cursor:pointer;
}
.bg3{
   width:100%;
}
.col-md-2{
  color:#000000;
   
  font-family:'Droid Sans', sans-serif;
  font-size:1.5em;
  cursor:hand;
}
.col-md-2 a{
  color: white;
    font-size: 15px;
}


.bg1{
	margin-top:100px;
}
.panel-heading{
	font-family:"Titillium Web", sans-serif;
	color:#000000;
	font-weight: 600;
	background:#e50000;
    color: #fff;
    border: none;
    padding: 0;
}
.panel {
    border: none;
}

.panel-heading h2 {
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 11px 0;
    color: #b7b7b7;
}

.panel-heading h2.active {
    color: #fff;
    background:rgba(0,0,0,0.3);
}

.orderid{
	font-size:20px;
	font-family:"Titillium Web", sans-serif;
	font-weight:bold;
	color:#111;
	list-style:none;
	text-decoration:none;
	text-transform:uppercase;
    padding: 3px 0;
}

li.orders {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
}

li.orders.ng-scope {
    list-style: none;
    margin-left:-40px;
}
li.orders2.ng-binding.ng-scope {
    margin-left: -20px;
    font-size: 15px;
    padding: 4px 0; 
}
.orders2 li{
	list-style:none;
	text-decoration:none;
	color:#333;
	font-family:"Roboto", sans-serif;
	font-size:15px;
}
.amount{
    padding-right: 15px;
    margin-top: 1px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    color: #222;
    font-weight: 600;
    text-align: right;
}

.panel-body{
	background:#fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin-top: -20px;
}

.orderid.ng-binding {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-left: 0px;
}

body{
    background: rgb(231,231,231);
}

    .trackorder {
        float: right;
        margin-top: -27px;
        margin-right: 5px;
    }
    
    .trackorder a {
        color: #333;
        font-weight: 500;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }

    #track-wrapper {
        margin: 100px 20px;
    }



    .track-con {
        border-radius: 2px;
        background: #fff;
        padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    }

    .track-con img {
        display: block;
        margin: auto;
    }

    .track-con h5 {
        padding: 10px 15px;
        color: #222;
        background: #f1f1f1;
        margin: 0;
    }

    .track-con .delivered,
    .recv {
        text-align: center;
        margin-top: -30px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        border-top: 1px solid #e1e1e1;
        position: relative;
        z-index: 2;
    }

    .track-con .ongo {
        text-align: center;
        padding: 10px;
        margin: 0;
        border-top: 1px solid #e1e1e1;
    }

    .close-track {
        float: right;
        cursor: pointer;
    }

    .oi {
        padding: 0 10px;
        margin: 0;
        text-align: left;
    }

    .oid {
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .tick {
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
    }

    .tick span {
        position: relative;
        top:2px; 
    }

    .nav-button .sidebutton {
        position: fixed;
        top: 70px;
        left: 0;
        font-size: 25px;
        border-radius: 0;
        background: #fff;
        padding: 4px 30px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.07);
        cursor: pointer;
        z-index: 11111119;
    }
    
    #content .userlist {
    /*    transform: translateX(200px);*/
        transition: 1s;
        background-color: #fff;
        text-transform: capitalize;
        width: 20%;
        z-index: 11118;
        position: fixed;
        top: 60px;
        padding-top: 46px;
        height: 700px ;
        left: 0;
        margin: auto;
        margin-top: -2px;
        border-right: 1px solid #999 !important; 
    /*    display: none;*/
    }
    
    
    .userlist ul {
        padding: 0;
        padding-top: 10px;
        background: #fff;
    /*    box-shadow: 0 0 5px rgba(0,0,0,0.19), 0 0 11px rgba(0,0,0,0.1);*/
    }
    
    #content .userlist li{
        padding: 12px 0px;
        background: #fff;
        border-bottom: 1px solid #e9e9e9;
        text-align: center;
        list-style: none;
    }
    
    #content .userlist li:hover {
        background: #f1f1f1;
    }
    
    #content .userlist ul li a{
        color:#000000;
        /* width: 112%; */
        display: block;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        width: 100%;
       
    /*padding : 0px 28%;*/
        font-size: 16px;
        text-decoration: none;
    }
    
    
    .move{
    transform: translateX(-500px);
    transition: 1s;
    }

    @media(max-width:767px) {
    #content .userlist{
        width: 75%;
    }
}

.cart-icon {
    margin: 0;
    position: fixed;
    top: 70px;
    right: 0px; 
    z-index: 999;
}

@media(max-width: 767px) {
    .cart-icon {
        top: 70px;   
    }
}

.cart-icon button {
    outline: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.07);
    padding: 10px 30px;
    border-radius: 0;
}

.cart-icon i {
    font-size: 20px;
    color: #333;
}

.cart-icon span {
    color: #333;
    margin-left: 5px;
}

.fixed_class{
    display: inline-block;
    background: #fff;
    border-radius: 9px;
    position: fixed;
    top: 50%;
    right: 45%;
}

.fixed_class img{
    padding: 15px;
}

.menu_opt{
    background: White;
    color: black;
    position: absolute;
    right: 0;
    border: 1px solid #f1f1f1;
    top: 75px;
    box-shadow: 0px 2px 5px #333;
    cursor: pointer;
    display: none;
    padding: 5px 50px;
}

.showMe{
    display: block !important;
}

.modal{
    top:20% !important;
}

.showGreen{
    color: green;
}

.showRed{
    color: red;
    /*position: absolute;
    right: 15px;
    top: 48px;*/
}


</style>

<div id="content" class="row">
    <div class=" col-lg-3 col-md-3 col-sm-4 col-12">
        <div class="nav-button" ng-hide="menu">
            <span ng-click="addsidebar()" class="sidebutton" onclick="tg()"  ng-hide="menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
          </span>
        </div>
        <div class="userlist" ng-class={"move":movex}>
         <ul>
             <li><a href="#/accounts">My Accounts</a></li>
             <li><a href="#/orders">My Orders</a></li>
             <li><a href="#/favourite">Favourites</a></li>
             <li><a href="">Points</a></li>
             <li><a href="">Notification</a></li>
             
             
         </ul>
        </div>
    </div>
        <div class="cart-icon">
           <a href="#/cart">
          <button type="button" class="btn btn-md b23"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
<span ng-model = "counter" class="testt">{{counter}}</span>
            </button>
            </a>
        </div>
</div>

<div id="container" ng-hide="trackToggle">
<div class="container-fluid bg1">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-order">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6">
					<h2 class="heading active" onclick="tggg(1)" ng-click=myorder("ongoing")>Ongoing</h5>
					</div>

					<div class="col-sm-6 ">
					<h2 class="heading" onclick="tggg(2)" ng-click=myorder("delivered")>Past</h5>
					</div>
				</div>
			 </div>
			</div>
		
<div class="panel-body" ng-cloak>
 <div ng-show="noongo">
     <p>{{orderStat}}</p>
 </div>
    <ul>
        <!--|orderBy:'PlacingTime':rev"-->
<li class="orders" ng-repeat="i in orders|orderBy:'PlacingTime':rev" style="position:relative">
   
    <i class="fa fa-ellipsis-v" id="cc-{{i.id}}" ng-click="openCancel(i.id)" ng-hide="past" aria-hidden="true" style="position:  absolute;right: 2%;top: 50px;font-size: 28px;z-index:5"></i>
    <div class="menu_opt" data-toggle="modal" data-target="#myModal" ng-click="cancelOrder(i.id)" ng-class="{showMe:i.id==check1}" style="background:White;color:black;">
        Cancel Order
    </div>
<div class="orderid">order id: {{i.id}}</div>
    <div class="trackorder" ng-hide="trackMe"><a ng-click="trackyourOrder(i)">Track Order</a></div>
    <div class="trackorder">
        <span ng-class="{showGreen:i.IsDelivered,showRed:i.IsCancelled}">{{i.order_status}}</span>
    </div>
<ul>
<li class="orders2" ng-repeat="list in i.order_items">{{list.Item.ProductName}}
</li>
</ul>
 <!--<div style="text-align:right">
        <span ng-class="{showGreen:i.IsDelivered,showRed:i.IsCancelled}">{{i.order_status}}</span>
    </div>-->
<div class="row amount">total amount: {{i.Total}}</div>
</li>
</ul>
</div>
</div>
</div>
</div>

<div ng-hide="!trackToggle" id="track-wrapper">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 track-con">
            <h5>Order Status<span class="glyphicon glyphicon-remove close-track" ng-click="closeTrack()"></span></h5>
            <div class="rec-wrap" ng-hide="toggleRec">
                <img src="../images/rec.png">       
                <h4 class="recv">{{trackStatus}}</h4>
            </div>
            <div class="ongo-wrap" style="text-align:center;" ng-hide="toggleOnGo">
                <h4 class="tick"><span class="glyphicon glyphicon-ok"></span> Order Recieved</h4>
                <img src="../images/ongo.png">    
                <h4 class="ongo">{{trackStatus}}</h4>
                <h4 style="text-align:center;">Estimated Time : {{estimate}}</h4>
                <p class="oi" style="text-align:center;"  ng-repeat="items in orderItems">{{items.ProductName}}</p>
                <p class="oid">Delivering By : {{delby}}<br>Phone : {{shopperMo}}</p>   
            </div> 
            <div class="del-wrap" style="text-align:center;" ng-hide="toggleDeliver">
                <h4 class="tick"><span class="glyphicon glyphicon-ok"></span> Order Recieved</h4>
                <h4 class="tick"><span class="glyphicon glyphicon-ok"></span> On Going</h4>
                
                <img src="../images/delivery.png">       
                <h4 class="delivered"><span class="glyphicon glyphicon-ok"></span> {{trackStatus}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="fixed_class" ng-hide="loader">
    <img src="../images/ajax-loader.gif" alt="">
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cancel Order</h4>
        </div>
        <div class="modal-body">
          <p>{{cancelMsg}}</p>
        </div>
        <div class="modal-footer">
             <button class="btn btn-default" ng-hide="showCancel" ng-click="confirmDeletion()">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

    <script>
        function tggg(ctg) {
            var head = document.getElementsByClassName('heading');
            if(ctg==2) {
                head[0].classList.remove('active');
                head[1].classList.add('active');
                ctg = false;
            } else {
                head[0].classList.add('active');
                head[1].classList.remove('active');
                ctg = true;
            }
        }

        tga = false;
function tg() {
    
    if(!tga) {
        var x = document.getElementsByClassName("fa");
        x[0].classList.remove("fa-bars");
        x[0].classList.add("fa-close");
        tga = true;
    } else {
        var x = document.getElementsByClassName("fa");
        x[0].classList.remove("fa-close");
        x[0].classList.add("fa-bars");
        tga = false;
    }
}
    </script>
