<style>
.bg1{
	padding-top:70px;
	padding-bottom:80px;
    position: relative; 
    background-size: 250% 200%;
    background-image: url('../images/become.jpg');
}
.bg1 .shadow{
            content: "";
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: block;
}
@media(max-width:380px){
  .bg1{
    max-height:420px;
  }
}

.row_2{
	
	color: #ffffff;
	font-family:"Roboto",sans-serif;
	font-size:30px;
	margin-top:15px;
  font-weight:bold;
	 
	 
	 
}
@media(max-width:380px){
  .row_2{
  font-size:20px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  text-decoration:none;
  text-align:justify;
}
}
.row_3{
	color: #f1f1f1;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:25px;
	margin-bottom:10px;
  
}
@media(max-width:380px){
  .row_3{
  font-size:20px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  text-decoration:none;
  text-align:justify;
}
}
.form-group{
	color: #ffffff;
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:20px;
	text-decoration:none;
	 
}
@media(max-width:380px){
 .form-group{
   font-size:15px;
   font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
   text-decoration:none;
   color:#000000;
    } 
}


.col-md-4{
	margin-top:20px;
}

.bg3{
	 
	width:100%;
}
@media(max-width:380px){
  .bg3{
  margin-top:700px;
}
}
.col-md-2{
	color:#000000;
	 
	font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	cursor:hand;
}
.col-md-2 a{
	color: white;
    font-size: 15px;
}

@media(max-width:380px){
  .b1{
    margin-left:100px;
  }
}

/***********************************/
/**Banner**/
#banner-wrapper .row {
    padding: 60px 20px;
    padding-bottom: 45px;
    background: rgba(0,0,0,0.3);
    margin-right: 0px;
}

#banner-wrapper .row_1{
	font-family:"Titillium Web",sans-serif;
	font-size:30px;
	color:#ffffff;
	margin-bottom:20px;
    font-weight: 600;
    margin-top: 100px;
}

#banner-wrapper .row_4 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

#banner-wrapper .row_2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

#banner-wrapper .row_3 {
    font-weight: 500;
    color: #f1f1f1;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width: 991px){
  #banner-wrapper  .row_1 {
      margin-top: -40px;
    }
    
    #banner-wrapper .row_3:last-child {
        margin-bottom: 80px;
    }
}

    /***********************************/
/**Banner**/
#banner-wrapper .row {
    padding: 60px 20px;
    padding-bottom: 45px;
    background: rgba(0,0,0,0.3);
    margin-right: 0px;
}

#banner-wrapper .row_1{
	font-family:"Titillium Web",sans-serif;
	font-size:30px;
	color:#ffffff;
	margin-bottom:20px;
    font-weight: 600;
    margin-top: 100px;
}

#banner-wrapper .row_4 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

#banner-wrapper .row_2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

#banner-wrapper .row_3 {
    font-weight: 500;
    color: #f1f1f1;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width: 991px){
  #banner-wrapper  .row_1 {
      margin-top: -40px;
    }
    
    #banner-wrapper .row_3:last-child {
        margin-bottom: 80px;
    }
}


/************************************/
/**Form**/
#form {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.1), 0 2px 5px -1px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.new {
    font-family: 'Titillium Web', sans-serif;
    font-size:22px;
    color: #333;
    margin-bottom:20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#form label {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#form input {
    border-radius: 2px;
}

#form input[type='submit'] {
    border-radius: 2px;
    padding: 7px 25px;
    margin: 0 -15px;
}

@media (max-width: 767px) {
    #form {
        width: 95%;
        margin: auto;
        margin-top: 30px;
    }
}

    footer {
        margin-top: 0;
    }
    
</style>
<div class="container-fluid bg1 shopper-wrapper" name="toTop" id="toPos">
<div class="shadow"></div>
  	 <div class="col-md-5 col-md-offset-1" id="banner-wrapper">
  	   	  <div class="row_1">Earn Money On Your Own Schedule</div>
	      <div class="row_2">1. Get Activated</div>
	      <div class="row_3">Provide us your info and we'll do a background check.</div>
	      <div class="row_2">2. Get Ready</div>
	      <div class="row_3">Learn the basics of shopping through our app.</div>
	      <div class="row_2">3. Get Paid</div>
	      <div class="row_3">Turn on the app,accept some orders and earn money.</div>
	  </div>
	  

	  <div class="col-md-4 col-md-offset-1 col" id="form">
	    <form role="form"  method="post" name="signupform">
     		 <fieldset>
        		<legend class="new">Sign Up</legend>
        <div class="row">
        	<div class="col-md-6">
          <div class="form-group">
            <label for="name">First Name</label>
              <input type="text" name="firstname" placeholder="Enter First Name"   class="form-control" id="firstname" ng-model="firstname"/>
            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
              <label for="lastname">Last Name</label>
                <input type="text" name="lastname" placeholder="Enter Last Name"  class="form-control" id="lastname" ng-model="lastname"/>
            </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Email</label>
                  <input type="text" name="email" placeholder="Enter Email"  class="form-control" id="email" ng-model="email"/>
               </div>
               </div>
               </div>

               <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                      <label for="name">Password</label>
                      <input type="password" name="password" placeholder="Enter Password" required class="form-control" id="password" ng-model="password"/>
                  </div>
                  </div>
                  </div>

                  <div class="row">
                  <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Mobile Number</label>
                    <input type="text" name="mobilenumber" placeholder="Enter mobile number"   class="form-control" id="mobilenumber" ng-model="mobilenumber"/>
                  </div>
                  </div>
                  </div>

                  <div class="row">
                  <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">City</label>
                    <input type="text" name="city" placeholder="Enter your city"   class="form-control" id="city" ng-model="city"/>
                  </div>
                  </div>
                  </div>

                  <div class="col-md-12">
                  <div class="form-group">

                      <input type="submit" value="Sign Up" id="submit" ng-click="submitform()" class="btn btn-danger b1"/>
                  </div>
                  </div>
              </fieldset>
          </form>
           
	</div>
      </div>
