body {
    background: #f2f2f1;
}

.hxpa * {
    margin: 0;
    padding: 0;
}

.hxpa {
    margin-top: 20px;
}

.hxpa-form {
    background: #fff;
    padding: 30px 20px;    
    box-shadow: 0 0 8px rgba(0,0,0,0.15), 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.hxpa-form-head {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.hxpa-form-head h3 {
    font-weight: 600;
    color: #333;
    text-align: center;
    font-family: 'Titillium Web', sans-serif; 
}

.hxpa-block {
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.hxpa-block h4 {
    margin-bottom: 7px;
    font-weight: 400;
}


.hxpa-block h5 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #666;
}

.hxpa-input-wrap {
    margin-top: 15px;
}

.hxpa-input {
    width: 49%;
    display: inline-block;
}

.hxpa-input label {
    display: block;
    font-weight: 500;
}

.hxpa-input input,
.hxpa-input select {
    background: #fff;
    width: 95%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    height: 35px;
    padding: 0 10px;
    color: #444; 
    border-bottom: 1px solid #d9d9d9;
}

.hxpa-already,
.hxpa-continue {
    text-align: center;
}

.hxpa-already {
    margin-top: 25px;
}

.hxpa-already a {
    color: #e53d3a;
    font-weight: 600;
}

.hxpa-continue {
    margin-top: 20px;
}

.hxpa-continue button {
    border: none;
    background: #029a02;
    color: #fff;
    border-radius: 2px;
    padding: 7px 22px;
}

.hxpa-about-form .hxpa-input,
.hxpa-bank-form .hxpa-input,
.hxpa-time-form .hxpa-input {
    display: block;
    width: 100%;
}

.hxpa-time-form .hxpa-input input {
    width: 39.5%;
}


.hxpa-time-form .hxpa-input span {
    display: inline-block;
    width: 10%;
    text-align: center;
    font-weight: 500;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.hxpa-time-form .hxpa-form-head label {
    font-weight: 500;
}

.hxpa-time-form .hxpa-form-head select {
    background: #fff;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    height: 35px;
    padding: 0 10px;
    color: #444; 
    border-bottom: 1px solid #d9d9d9;
}

.hxpa-business {
    margin-top: 30px;
}

.hxpa-business .hxpa-form {
    margin-bottom: 40px;
}

.hxpa-login {
    width: 80%;
    margin: 50px auto;
}

.hxpa-login .hxpa-noacc {
    text-align: center;
    margin-top: 15px;
}

.hxpa-login .hxpa-noacc a {
    color: #333;
    font-weight: 500;
}

@media(max-width: 700px) {
    .hxpa-input {
        display: block;
        width: 100%;
    }
}
